[server]

[mysqld]

user = mysql
port = 3306
pid-file = /run/mysqld/mysqld.pid
datadir = /var/lib/mysql
basedir = /usr
tmpdir = /tmp
lc-messages-dir = /usr/share/mysql
lc-messages = en_US
bind-address = 0.0.0.0

character-set-server = utf8mb4
collation-server = utf8mb4_general_ci

[galera]

[embedded]

[mariadb]

[mariadb-10.5]

